{% extends 'main/visit/templates/baseVisit.html' %}

{% comment %} {% block headerTable %}
<th scope="col">#</th>
<th scope="col">Назва</th>
<th scope="col">Місто</th>
<th scope="col">Адрес</th>
<th scope="col">Тренер</th>
<th scope="col">Працює?</th>
{% endblock headerTable %} {% endcomment %}

{% block table %}
<th class="table-light" scope="row">{{one.id}}</th>
<td><a href="{% url 'school-edit' one.id %}">{{one.name}}</a></td>
<td>{{one.city}}</td>
<td>{{one.adress}}</td>
<td>{% if one.coach != none %}<a href="{% url 'coach-edit' one.coach.id %}">{{one.coach}}</a>
  {% else %}{{one.coach}}{% endif %}</td>
<td>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled {% if one.is_active == True %}
      checked {% endif %}>
  </div>
</td>
{% endblock table %}



{% block urledit %}
{% url 'school-edit' one.id %}
{% endblock %}

{% block urldelete %}
{% url 'school-delete' one.id %}
{% endblock %}