{% extends 'main/visit/templates/baseVisit.html' %}

{% block headerTable %}
<th scope="col">#</th>
<th scope="col">Імя</th>
<th scope="col">Прізвище</th>
<th scope="col">Телефон</th>
<th scope="col">Школа</th>
<th scope="col">Email</th>
<th scope="col">Номер</th>
<th scope="col">Пояс</th>
<th scope="col">Інформація</th>
<th scope="col">Тренує?</th>
{% endblock headerTable %}

{% block table %}

<th class="table-light" scope="row">{{one.id}}</th>
<td><a href="{% url 'coach-edit' one.id %}">{{one.first_name}}</a></td>
<td><a href="{% url 'coach-edit' one.id %}">{{one.last_name}}</a></td>
<td>{{one.telephone}}</td>
<td>
  {% for school in one.school_set.all %}
 <a href="{% url 'school-edit' school.id %}"> {{school}}</a><br>
  {% endfor %}
</td>
<td>{{one.email}}</td>
<td>{{one.telephone}}</td>
<td>{% if one.belts != none %}<a href="{% url 'belt-edit' one.belts.id %}">{{one.belts}}</a>
  {% else %}{{one.belts}}{% endif %}</td>
<td>{{one.information}}</td>
<td>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled {% if one.is_active == True %}
      checked {% endif %}>
  </div>
</td>

{% endblock table %}

{% block urledit %}
{% url 'coach-edit' one.id %}
{% endblock %}

{% block urldelete %}
{% url 'coach-delete' one.id %}
{% endblock %}
