{% extends 'main/visit/templates/baseVisit.html' %}

{% block headerTable %}
<th scope="col">#</th>
<th scope="col">Імя</th>
<th scope="col">Прізвище</th>
<th scope="col">Телефон</th>
<th scope="col">Школа</th>
<th scope="col">Email</th>
<th scope="col">Номер</th>
<th scope="col">Пояс</th>
<th scope="col">Інформація</th>
<th scope="col">Тренує?</th>


{% endblock headerTable %}

{% block table %}

<th class="table-light" scope="row">{{one.id}}</th>
<td>{{one.first_name}}</td>
<td>{{one.last_name}}</td>
<td>{{one.telephone}}</td>
<td>{{one.school_set.first}}</td>
<td>{{one.email}}</td>
<td>{{one.telephone}}</td>
<td>{{one.belt}}</td>
<td>{{one.information}}</td>
<td>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" disabled {% if one.is_active == True %}
      checked {% endif %}>
  </div>
</td>

{% endblock table %}

{% block urledit %}
{% url 'coach-edit' one.id %}
{% endblock %}

{% block urldelete %}
{% url 'coach-delete' one.id %}
{% endblock %}
