{% extends 'main/visit/templates/baseVisit.html' %}

{% block headerTable %}
<th scope="col">#</th>
<th scope="col">Кю</th>
<th scope="col">Назва</th>
<th scope="col">Картинка</th>

{% endblock headerTable %}

{% block table %}

<th class="table-light" scope="row">{{one.id}}</th>
<td>{{one.kyu}}</td>
<td>{{one.name}}</td>
<td>{{one.img}}</td>
{% endblock table %}

{% block formsadd %}


{% for f in forms %}

<div class="form-floating col-12" bis_skin_checked="1">
  {{f}}
  <label for="{{f.id_for_label}}">{{f.label}}</label>
  <div id="emailHelp" class="form-text">{{f.errors}}</div>
</div>

{% endfor %}
<!--
<div class="col-md-12">
  {{ form }}
</div>
-->

{% endblock formsadd %}