{% extends 'main/base.html' %}

{% block title %} {{ titles }} {% endblock %}

{% block navigation %}

<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4 sticky-sm-top" aria-label="Third navbar example">
  <div class="container-fluid" bis_skin_checked="1">

    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
      aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarsExample03" bis_skin_checked="1">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" href="{% url 'coach' %}">Тренери</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'sportsman' %}">Спортсмени</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'school' %}">Школи</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown03">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

      </ul>
    </div>

    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Додати {{ title }}
    </button>

  </div>
</nav>

{% endblock navigation %}

{%block content%}

<div class="d-flex mb-2">
  <h1 class="me-auto">{{ titles }}</h1>

  <div class="alert-danger">
    <span>{{ error }}</span>
  </div>

  <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Додати {{ title }}
  </button>
</div>

<table class="table table-hover table-sm">
  <thead class="table-dark">
    <tr>
      {% block headerTable %}

      {% endblock headerTable %}
    </tr>
  </thead>
  <tbody>
    {% for one in data %}
    <tr>
      {% block table %}

      {% endblock table %}
    </tr>

    {% endfor %}
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Введіть дані</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="row g-3" method="post">
          {% csrf_token %}

          {% block forms %}

          {% endblock forms %}

          <button type="submit" class="btn btn-outline-danger">Додати
            <span class="badge bg-danger"> у таблицю {{ titles }}</span>
          </button>
          <span class="badge bg-danger text-light">Дані буде внесено у таблицю {{ titles }}</span>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}