{% extends 'main/visit/templates/edit.html' %}


{% block inputedit %}
  

  
<input type="text" value="{{data.first_name}}" name="first_name">
<input type="text" value="{{data.last_name}}" name="last_name">
<input type="text" value="{{data.surname}}" name="surname">
<input type="date" value="{{data.dateBirth}}" name="dateBirth">
<input type=" email" value="{{data.email}}" name="email">
<input type="file" value="{{data.photo}}" name="photo">
<input type="tel" value="{{data.telephone}}" name="telephone">
<input type="tel" value="{{data.telephone2}}" name="telephone2">
<input type="text" value="{{data.belt}}" name="belt">
<textarea name="information">{{data.information}}</textarea>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchCheckChecked"
    {% if data.is_active == True %} checked {% endif %}>
</div>

{% endblock inputedit %}