{% extends 'main/visit/templates/baseVisit.html' %}

{% block title %}Редагувати - {{form.first_name.value}}
{{ form.last_name.value }} {{ form.name.value }}{% endblock title %}

{%block content%}
<form class="row col-lg-7 m-auto g-2 mt-4" method="post">
  {% csrf_token %}

  <div class="d-flex p-2 sticky-top">
    <h4 class="me-auto">Редагувати <span
        class="text-uppercase text-danger fs-6 fst-italic fw-light">{{form.first_name.value}}
        {{ form.last_name.value }} {{ form.name.value }}</span></h4>

    {% comment %} <div class="col-md-7 me-auto"">
      <span class=" alert-success">{{ success }}</span>
      <span class="alert-danger">{{ error }}</span>
    </div> {% endcomment %}

    <a href="{% block backurl %} {%url 'home'%} {% endblock backurl %}"
      class="btn btn-outline-dark sticky-top me-1">Назад
    </a>
    <button type="submit" class="btn btn-outline-danger sticky-top">Зберегти
    </button>

  </div>

  {% block inputedit %}

  {% for f in form %}

  <div class="form-floating {% block size%} col-sm-6 {% endblock%}" bis_skin_checked="1">

    {% if f.html_name == 'is_active' %}

    <div class="form-check form-switch form-floating col-6">
      <input class="form-check-input" type="checkbox" name="is_active" id="flexSwitchCheckChecked"
        placeholder="Тренується" {% if f.value == True %} checked {% endif %}>
      <p>Активний?</p>
    </div>

    {% else %}
    {{f}}
    <label for="{{f.id_for_label}}">{{f.label}}</label>
    <div id="emailHelp" class="form-text bg-danger text-white">{{f.errors}}</div>
    {% endif %}


  </div>

  {% endfor %}


  {% endblock inputedit %}

</form>

{% endblock content %}