{% extends 'main/visit/templates/edit.html' %}


{% block inputedit %}

<div class="col-md-7 me-auto"">
  <span class="alert-success">{{ success }}</span>
  <span class="alert-danger">{{ error }}</span>
</div>
{{ form }}
<!-- <div class="form-floating mb-3 col-md-6">
  <input type="text" class="form-control" id="floatingInput" placeholder="ame@example.comn" value="{{data.first_name}}"
  name="first_name">
  <label for="floatingInput">Імя</label>
</div>
<div class="form-floating col-md-6">
  <input type="text" class="form-control" id="floatingPassword" placeholder="Password" value="{{data.last_name}}"
  name="last_name">
  <label for="floatingPassword">Прізвище</label>
</div>
<div class="form-floating col-md-6">
  <input type="text" class="form-control" id="floatingPassword" placeholder="Password" value="{{data.surname}}"
  name="surname">
  <label for="floatingPassword">По батькові</label>
</div>

<div class="form-floating col-md-6">
  <input type="date" class="form-control" id="floatingPassword" placeholder="Password" value="{{data.dateBirth}}"
  name="dateBirth">
  <label for="floatingPassword">Дата народження</label>
</div>

<div class="form-floating col-md-6">
  <input type="tel" class="form-control" id="telephone" placeholder="Номер телефону" value="{{data.telephone}}"
  name="telephone">
  <label for="telephone">Номер телефону</label>
</div>

<div class="form-floating col-md-6">
  <input type="text" class="form-control" id="belt" placeholder="Рівень поясу" value="{{data.belt}}"
  name="belt">
  <label for="belt">Рівень поясу</label>
</div>

<div class="form-check form-switch form-floating col-6">
  <input class="form-check-input"  type="checkbox" name="is_active" id="flexSwitchCheckChecked" placeholder="Рівень поясу"
  {% if data.is_active == True %} checked {% endif %}>
  <p>Тренується?</p>
</div> -->

{% endblock inputedit %}