
a.logo img {
/* margin-right: 5px; */
padding-right: 5px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

form.edit{
  margin-left: 32%;
  width: 500px;
  margin-top: 50px;
}